*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 15px;
    margin: 0 auto;
}

.img {
    height: 150px;
    background-image: url("bg-1.jpg");
    background-repeat:no-repeat;
    background-size: cover;

}

.wrap {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.social-media a{
    all: unset;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    margin-right: 5px;
    opacity: 0.6;
}

.btn {
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
}

.btn.btn-primary {
    background-color: #01d28e !important;
    color: #fff;
    border: 1px solid #01d28e !important;
}

.login, .password {
    position: relative;
}

.login-label {
    position: absolute;
    top: 7px;
    left: 14px;
    opacity: 0.6;
}

.password-label {
    position: absolute;
    top: 7px;
    left: 14px;
    opacity: 0.6;
}

.toggle-password {
    position: absolute;
    top: 12px;
    right: 14px;
    opacity: 0.6;
}

a {
    all: unset;
}

.checkbox-primary, .text-center a {
    color: #01d28e;
} 

.w-50 a , p.text-center {
    opacity: 0.6;
}